# ignore

# General
.DS_Store
.AppleDouble
.LSOverride
.vscode

# Thumbnails
._*

# Repository
gameslist.asm
/_archive
/copy_to_vortex_repo
/tmp
*.bak

# MAME
!/MAME/mame.ini
/MAME/hash/*
!/MAME/hash/_neogeo.xml
/MAME/roms/menu/*
!/MAME/roms/menu/menu-c1.bin
!/MAME/roms/menu/menu-c2.bin
!/MAME/roms/menu/menu-m1.bin
!/MAME/roms/menu/menu-s1.bin
!/MAME/roms/menu/menu-v1.bin
!/MAME/roms/menu/menu-v2.bin
/MAME/roms/neogeo
/MAME/roms/aes
/MAME/roms/neogeo.zip
/MAME/roms/aes.zip
/MAME/*.bdf
/MAME/*.exe
/MAME/*.log
/MAME/*.txt
/MAME/*.sym
/MAME/*.zip
/MAME/ui.ini

/MAME/artwork
/MAME/bgfx
/MAME/COPYING
/MAME/cfg
/MAME/ctrlr
/MAME/docs
/MAME/hlsl
/MAME/ini
/MAME/language
/MAME/nvram
/MAME/plugins
/MAME/samples
/MAME/snap
