# ignore

# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Repository
*.bak
/_archive/*
/tmp
/MAME/hash/neogeo.xml
/MAME/roms/menu/*
!/MAME/roms/menu/menu-c1.bin
!/MAME/roms/menu/menu-c2.bin
!/MAME/roms/menu/menu-m1.bin
!/MAME/roms/menu/menu-s1.bin
!/MAME/roms/menu/menu-v1.bin
!/MAME/roms/menu/menu-v2.bin
/MAME/roms/neogeo/*
/MAME/*.zip
_copy.bat

# MAME
/MAME/artwork/*
/MAME/bgfx/*
/MAME/castool.exe
/MAME/chdman.exe
/MAME/COPYING
/MAME/cfg/*
/MAME/ctrlr/*
/MAME/dir.txt
/MAME/docs/*
/MAME/floptool.exe
/MAME/hash/*
/MAME/hlsl/*
/MAME/imgtool.exe
/MAME/ini/*
/MAME/jedutil.exe
/MAME/language
/MAME/ldresample.exe
/MAME/ldverify.exe
/MAME/mame.exe
/MAME/mame.sym
/MAME/nltool.exe
/MAME/nlwav.exe
/MAME/nvram/*
/MAME/plugins/*
/MAME/romcmp.exe
/MAME/samples/*
/MAME/snap/*
/MAME/ui.ini
/MAME/uismall.bdf
/MAME/unidasm.exe
/MAME/whatsnew.txt